<form id="login-form">
  <div>
    <label>username</label>
    <input type="text" id="form-username" />
  </div>
  <div>
    <label>password</label>
    <input type="password" id="form-password" />
  </div>
  <button type="submit" id="form-button">Login</button>
</form>

<script src="/js/login.js"></script>